button {
  background-color: darkgrey;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

.checked-item {
  background-color: #2ecc71;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.checked-item::before {
  content: "\2713";
  /* //Tick emoji */
  margin-right: 5px;
}

.not-checked-item {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.not-checked-item::before {
  content: "+";
  margin-right: 5px;
}
